{% extends 'ident.html.twig' %}

{%  block title %}
    Вход
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Пользователь:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="_password" />
        <br>
        <input type="hidden" name="_target_path" value="/student/" />

        <button type="submit">Вход</button>
    </form>
{% endblock %}